@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dongle&family=Fjalla+One&family=Poppins:ital,wght@0,400;0,600;0,700;1,700&family=Roboto:wght@400;500&family=The+Nautigal:wght@700&display=swap");
/* Reset de la página y valores por defecto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #8a1538; }

/* Configuraciones globales para el body */
body {
  background-color: #eeeee4;
  width: 100%; }
  body header .navheader {
    /* Contenedor de la navbar con el logo y el menú a las páginas */
    background-color: lightgray; }
    body header .navheader nav ul li {
      list-style: none;
      /* Para quitarle los puntitos al listado */
      /* Para hoover de las anclas */ }
      body header .navheader nav ul li a {
        float: left;
        /* Para acomodar y darle estilo a las anclas que direccionan a las páginas */
        margin: 0.75rem;
        margin-top: 2rem;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s; }
      body header .navheader nav ul li :hover {
        background-size: 100% 2px; }
      body header .navheader nav ul li :focus {
        background-size: 100% 2px; }
  body main h1 {
    text-align: center;
    padding: 2rem; }
  body main .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  body main .cover {
    object-fit: cover; }
  body main .featurette-divider {
    margin: 5rem 0; }
  body main .seccion {
    margin: 0 auto; }
    body main .seccion .seccion__oficinas {
      border: 0.1rem solid black;
      border-radius: 1rem;
      box-shadow: 3px 3px 6px #999;
      padding: 1rem;
      margin-bottom: 1rem;
      text-align: center;
      background-color: #eeeee4; }
      body main .seccion .seccion__oficinas p {
        margin: 1rem; }
    body main .seccion .seccion__mensaje {
      /* Sección para enviar mensaje */
      border: 0.1rem solid black;
      border-radius: 1rem;
      box-shadow: 3px 3px 6px #999;
      padding: 1rem;
      margin-bottom: 1rem;
      text-align: center;
      background-color: #eeeee4; }
      body main .seccion .seccion__mensaje .seccion__mensaje__camposform {
        /* Campos para enviar mensaje */
        display: block;
        margin: 1rem;
        padding: 0.5rem; }
      body main .seccion .seccion__mensaje .seccion__mensaje__camposform--enviar {
        /* Campo de tipo botón */
        background-color: #8a1538;
        color: #eeeee4;
        font-size: 1rem;
        width: 8rem;
        height: 2rem;
        border-radius: 1rem; }
  body footer .bg-footer-ligthgray {
    background-color: lightgray; }
    body footer .bg-footer-ligthgray .footer__derechos__textos {
      /* Texto del footer */
      text-align: center;
      padding: 0.5rem; }
    body footer .bg-footer-ligthgray .footer__redes {
      margin: 0.5rem;
      font-weight: bold; }
      body footer .bg-footer-ligthgray .footer__redes .footer__redes__iconos {
        text-decoration: none; }
        body footer .bg-footer-ligthgray .footer__redes .footer__redes__iconos img {
          margin-top: 0.25rem;
          margin-right: 0.75rem; }
