/* Import de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;900&family=Roboto:wght@100;300;400&display=swap');

/* Reset de la página y valores por defecto*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #8a1538;
}

/* Contenedor de la navbar con el logo y el menú a las páginas */
.navheader {
    background-color: lightgray;
}

/* Para quitarle los puntitos al listado */
nav ul li {    
    list-style: none;
}

/* Para acomodar y darle estilo a las anclas que direccionan a las páginas */
nav ul li a {
    float: left;
    margin: 0.75rem;
    margin-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
} 

/* Para hoover de las anclas */
nav ul li a:hover, nav ul li a:focus {
    background-size: 100% 2px;
}



/* Configuraciones globales para el body */
body {
    background-color: #eeeee4;
    width: 100%;
}

/* Para dar espacio al título principal */
main h1 {
    text-align: center;
    padding: 2rem;
}

/* Contenededor de sección */
.seccion {
    margin: 0 auto;
}

/* Sección para la dirección de las oficinas */
.seccion__oficinas {
    padding: 1rem;
    margin: 1rem;
    float: left;
    width: 65%;
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 1rem;
    box-shadow: 3px 3px 6px #999; 
    background-color: white;
}

.seccion__oficinas p {
    margin: 1rem;
}

/* Sección para enviar mensaje */
.seccion__mensaje  {
    padding: 1rem;
    margin: 1rem;
    float: left;
    width: 30%;
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 1rem;    
    box-shadow: 3px 3px 6px #999;
    background-color: white;
}

/* Campos para enviar mensaje */
.seccion__mensaje__camposform {    
    display: block;
    margin: 1rem;
    padding: 0.5rem;
}

/* Campo de tipo botón */
.seccion__mensaje__camposform--enviar {    
    background-color: #8a1538;
    color: white;
    font-size: 1rem;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;  
}

/* Contenedor del footer */
.bg-footer-ligthgray {    
    background-color: lightgray;
}

/* Texto del footer */
.footer__derechos__textos {   
    text-align: center;
    padding: 0.5rem;
}

/* Segunda parte del footer con el acceso a las redes */
.footer__redes {
    margin: 0.5rem;
    font-weight: bold;
}

.footer__redes__iconos {    
    text-decoration: none; 
}

.footer__redes__iconos img {
    margin-top: 0.25rem;
    margin-right: 0.75rem;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.cover{
    object-fit: cover;
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.img-zoom {
    transition: transform .2s; 
}
     
.img-zoom:hover {
    transform: scale(1.2); 
}